# gitignore
/result*
/target

# Docker-specific
**/target
*.nix
/.cargo
.direnv
.git
/flake.lock
justfile
## Meta
.dockerignore
Dockerfile*
docker-compose.yml
shared
tempo-data

# database mounting
/postgres-mount

# ide
/.vscode
/.idea

# app logs
/logs

/test
